video {
    z-index: -999;
    object-fit: fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*-------------*/
/* Grid Layout */
/*-------------*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

/*--------------*/
/* Clock Button */
/*--------------*/

.pre-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
    justify-self: center;
}

.wrapper span {
    position: absolute;
    top: 45%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.wrapper .display {
    z-index: 999;
    width: 15rem;
    background: #292929;
    border-radius: 6px;
    text-align: center;
}

.display #time {
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.wrapper span {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}

.wrapper span:first-child {
    filter: blur(7px);
}

.wrapper span:last-child {
    filter: blur(20px);
}

/*---------------*/
/* Reward Button */
/*---------------*/

.pre-reward {
    display: grid;
    justify-content: center;
    align-items: center;
}

.reward {
    display: grid;
    right: 0rem;
    justify-content: center;
}

.reward button {
    background-color: transparent;
    border: none;
}

.reward button img {
    height: 32px;
    cursor: pointer;
}

/*------------*/
/* Search Bar */
/*------------*/

.wrapper2 {
    height: 49px;
    width: 985px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 20px;
    cursor: default;
    animation: animate 1.5s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 5px solid #292929;
    border-radius: 20px;
    background-color: #292929;
}

fluent-button.search-btn.stealth {
    padding: 0px .5rem;
}

.search-bar a {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.search-bar button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.search-bar button img {
    width: 32px;
}

.search-bar form input {
    border: none;
    width: 55rem;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
}

.search-bar form input:focus {
    outline: none;
}