/*-------------*/
/*  Responsive */
/*-------------*/

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .hotspot {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        margin: 0;
    }

    .card {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .wrapper2 {
        width: 90%;
        margin: 1rem auto;
    }

    .search-bar {
        width: 98%;
    }

    .search-bar form input {
        width: calc(100% - 50px);
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        width: 90%;
        height: auto;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .botoes-estudos img,
    .botoes-programacao img,
    .botoes-trabalho img,
    .botoes-inteligencia-artificial img {
        width: 50px;
        height: 50px;
    }

    .card-botoes {
        width: 4rem;
        height: 5rem;
    }
}
